@import "bootstrap-sprockets";
@import "bootstrap";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

body {
  background: url('/assets/crossword.png');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar.navbar-inverse {
  background:url('/assets/cartographer.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #E3E85A;
  font-family: 'raleway-regular', sans-serif;
  font-size: 26px;
}